<h2 class="content-subhead">Search</h2>

<form action="/search" method="get">
  <input name="query" value="<%= params[:query] %>">
  <button type="submit">Search</button>
</form>

<% unless @search_query.nil? || @search_query.empty? %>
  <h2 class="content-subhead">Results for <%= @search_query %></h2>
  <% if @search_results.empty? %>
    <p>Sorry, no matches were found.</p>
  <% else %>
    <ul>
      <% @search_results.each do |chapter_match| %>
        <li>
          <h4><%= chapter_match[:title] %></h4>
          <ul>
            <%= matching_paragraphs(chapter_match) %>
          </ul>
        </li>
      <% end %>
    </ul>
  <% end %>
<% end %>